<link rel="stylesheet" href="{{STATIC_URL}}forms.css" />

<a href="/logout" text-align:right>Logout</a>

<h1> Manage your files </h1>

<!--Display the user's files-->
<div id="list5">
<ul>
	{% for file, file_info in files.items %}
	<li>Filename: {{ file }}
	<ul>
		{% for info in file_info %}
		<li>{{ info }}</li>
		{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ul>
</div>

<br></br><br></br><br></br><br></br><br></br><br></br>

<!--Form to to upload a file-->
<form enctype="multipart/form-data" method="post" action="/manage/">
   {% csrf_token %}   
   <table>
       {{form.as_table}}
    </table>
    <input type="submit" value="Submit" id="Save"/>
</form>
